{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
    <link rel="stylesheet" href="/static/css/rdm_addons.css">
    <link rel="stylesheet" href="/static/css/rdm_institutional_storage.css">
{% endblock %}

{% load user_extras %}
{% load spam_extras %}

{% block title %}
    <title>{% trans "Institutional Storage" %}</title>
{% endblock title %}

{% block content %}
    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .table {
            margin-bottom: 0;
        }

        .table > thead > tr > th {
            border: none;
            font-size: large;
            text-align: right;
            white-space: nowrap;
        }

        .table tbody tr .storage_input_content {
            width: 300px;
        }

        .legend{
            width: auto;
            margin-left: 26px;
            font-size: 1.2em;
            padding: 0 1.3em;
            border: none;
            white-space: nowrap;
        }

        .row > div > fieldset{
            border: solid;
            padding-left: 7px;
            border-width: thin;
            height:230px; position:
            relative;
        }

        #add_new_block > .form-inline{
            margin-bottom:10px;
            display: flex;
            white-space: nowrap;
        }

        #add_new_block > .form-inline:last-child{
            display: flex;
            white-space: nowrap;
        }
    </style>
    <h2 style="margin-bottom:40px;">{% trans "Institutional Storage " %}<small>({{ institution.name }})</small></h2>

<div class="row">
    <div class="col-md-6">
        <form role="form" id="institutional_storage_form">
            {% csrf_token %}
            <div class="row form-inline storage-name">
                <div class="form-group">
                    <label for="storage_name" style="width:80px;">{% trans  "Name: " %}</label>
                    <input type="text" required class="form-control" id="storage_name" name="storage_name"
                           oninvalid="this.setCustomValidity('This field is required.') " oninput="setCustomValidity('')">
                </div>
            </div>
            <div class="row form-inline storage-name">
                <div class="form-group">
                    <label for="storage_name" style="width:80px;">{% trans "Provider: " %}</label>
                    <select id="providers" name="options" class="form-control">
                        {% for provider_item in providers %}
                            <option value="{{ provider_item.short_name }}">{{ provider_item.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button style="width:90px; margin-bottom:30px; margin-top:10px" class="btn btn-primary" type="submit">{% trans "Add" %}</button>
        </form>
    </div>
    <div class="col-md-6" style="height: 230px;">
        <fieldset>
            <legend class="legend">
                {% trans "Access control with authorization attribute" %}
                <input type="checkbox" checked="checked" id="attribute_authentication" style="margin-left: 10px;"
                       value="{% if institution.is_authentication_attribute %}on{% else %}off{% endif %}"
                       class="btn apple-switch {% if institution.is_authentication_attribute %} checked {% endif %}"
                       data-toggle="toggle" data-onstyle="success">
            </legend>
            <div id="add_new_block" style="overflow: auto; max-height: 132px;">
                {% for attribute in attributes %}
                <form id="attribute_authentication_form_{{attribute.id}}" class="form-inline">
                        <tr>
                            <td><label style="width: 3%; text-align: right; margin: 6px 6px 0px 0px;">{{ attribute.index_number }}.</label></td>
                            <td>
                                <div class="input-group flex-item" style="width: 30%;">
                                    <input type="text" name="attribute" placeholder="{% trans 'New attribute' %}" id="attribute_name_{{forloop.counter}}"
                                           maxlength="200" class="form-control attribute_name attribute_{{attribute.id}}" value="{{ attribute.attribute_name | default_if_none:'' }}"
                                           {% if not institution.is_authentication_attribute %} disabled {% endif %}
                                           oninput="setCustomValidity('')">
                                </div>
                                <div class="input-group flex-item" style="margin:0px 25px 0px 10px; width: 30%;">
                                    <input type="text" name="attribute_value" placeholder="{% trans 'New attribute value' %}"
                                           maxlength="200" class="form-control attribute_value_{{attribute.id}}" value="{{ attribute.attribute_value | default_if_none:'' }}"
                                           {% if not institution.is_authentication_attribute %} disabled {% endif %}
                                           oninput="setCustomValidity('')">
                                </div>
                                <div class="input-group flex-item">
                                    <button class="btn btn-danger delete_attribute" type="button" index_attribute="{{ attribute.id }}">X</button>
                                    <button class="btn btn-success save_attribute" type="button" index_attribute="{{ attribute.id }}" style="margin-left:5px; width:90px">{% trans 'Save' %}</button>
                                </div>
                            </td>
                        </tr>
                </form>
                {% endfor %}
            </div>
            <div class="form-inline">
                <button id="btn_add_attribute_form" style="width:90px;position: absolute;bottom: 7px;left: 7px;" class="btn btn-primary" type="button" onclick="add_new_row_form()">{% trans 'Add' %}</button>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title label-large">{% trans "Institutional Storage Configurations" %}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 20%; text-align: left;">{% trans "Name" %}</th>
                            <th style="width: 17%; text-align: left;">{% trans "Provider" %}</th>
                            <th style="width: 7%;"></th>
                            <th style="width: 5%; text-align: left;">{% trans "Allow" %}</th>
                            <th style="width: 7%"></th>
                            <th style="width: 5%; text-align: left;">{% trans "Read only" %}</th>
                            <th style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider_item in providers_configured %}
                        <form role="form">
                            <tr>
                                <td class="storage_input_content">
                                    <div>
                                        <input {% if provider_item.provider.short_name != 'osfstorage' %}
                                               value="{{ provider_item.region.name }}"
                                               {% else %}
                                               disabled
                                               value=""
                                               {% endif %}
                                               class="form-control storage_input_value" type="text"
                                               name="{{ provider_item.provider.short_name }}" id="storage_name_{{ provider_item.region.id }}">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <h4>
                                            <img src="{{ provider_item.provider.icon_url_admin }}">
                                            <span>{{ provider_item.provider.full_name }}</span>
                                        </h4>
                                    </div>
                                </td>
                                <td style="text-align: right;">
                                    <input id="allow_{{ provider_item.region.id }}" class="form-control" type="text" maxlength="200" style="height: 30px;" placeholder="{% trans 'All' %}"
                                           {% if not institution.is_authentication_attribute or institution.is_authentication_attribute and not provider_item.region.is_allowed %}
                                           disabled
                                           {% endif %}
                                           value="{{ provider_item.region.allow_expression | default_if_none:'' }}">
                                </td>
                                <td>
                                    <div class="input-group form-check">
                                        <input type="checkbox" data-provider="{{ provider_item.provider.short_name }}"
                                               data-id="{{ provider_item.region.id }}" id="allow_checkbox_{{provider_item.region.id}}"
                                               value="{% if provider_item.region.is_allowed %}on{% else %}off{% endif %}"
                                               data-value="{% if provider_item.region.is_allowed %}true{% else %}false{% endif %}"
                                               class="btn apple-switch change_allow {% if provider_item.region.is_allowed %} checked {% endif %}"
                                               data-toggle="toggle" data-onstyle="success">
                                    </div>
                                </td>
                                <td style="text-align: right;">
                                    <input id="readonly_{{ provider_item.region.id }}" class="form-control" type="text" maxlength="200" style="height: 30px;" placeholder="{% trans 'All' %}"
                                           {% if not institution.is_authentication_attribute or institution.is_authentication_attribute and not provider_item.region.is_readonly %}
                                           disabled
                                           {% endif %}
                                           value="{{ provider_item.region.readonly_expression | default_if_none:'' }}">
                                </td>
                                <td>
                                    <div class="input-group form-check">
                                        <input type="checkbox" data-provider="{{ provider_item.provider.short_name }}"
                                               data-id="{{ provider_item.region.id }}" id="readonly_checkbox_{{provider_item.region.id}}"
                                               value="{% if provider_item.region.is_readonly %}on{% else %}off{% endif %}"
                                               data-value="{% if provider_item.region.is_readonly %}true{% else %}false{% endif %}"
                                               class="btn apple-switch change_readonly {% if provider_item.region.is_readonly %} checked {% endif %}"
                                               data-toggle="toggle" data-onstyle="success">
                                    </div>
                                </td>
                                <td style="text-align: right; white-space: nowrap;">
                                    <button class="btn btn-default" type="reset" data-id="{{ provider_item.region.id }}">{% trans "Cancel" %}</button>
                                    <button class="btn btn-success save_button" data-id="{{ provider_item.region.id }}" type="button">{% trans "Save" %}</button>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% for provider_item in providers %}
        {% include provider_item.modal_path %}
    {% endfor %}

    <input type="hidden" id="osf_domain" value="{{ osf_domain }}">

    <br class="clear">
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'rdm-institutional-storage-page' %}
{% endblock %}
